# Application Port
PORT=3000

# Discount configuration
DISCOUNT_N=5
DISCOUNT_PERCENT=10

# Coupon Expiration (in days)
COUPON_EXPIRY_DAYS=7

# Admin Secret token (for header x-admin-token check)
ADMIN_TOKEN=your-secret-admin-token-here
